{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title%}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'gold_app/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gold_app/css/social_icon.css' %}">
</head>
<body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">
    <!-- oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;" -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'gold_app:index' %}">Gold Mine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'gold_app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gold_app:leader_board' %}">Leaderboard</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link disabled" href="#">LeaderBoard</a>
              </li>
            {% endif %}
            
          </ul>
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        <li class="nav-item">  
                          <a class="nav-link" id="google_icon" href="">
                              Sign-in
                          </a>
                        </li>
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>
                {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                  <p class="card-text">{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                
              {% endif %}
          </ul>
        </div>
      </nav>

      <main role="main" class="container">
        {% if user.is_authenticated %}
          <div class="pb-2 mb-2 border-bottom mt-3">
              {% block page_header %}{% endblock page_header %}
          </div>
          {% block content %}{% endblock content %}
        {% else %}
          <div class="jumbotron jumbotron-fluid mt-5">
            <div class="container">
              <h1 class="display-4">Gold Mine</h1>
              <p class="lead ml-2">Please login to play the game.</p>

            </div>
          </div>
        {% endif %}
      </main>
      <script src="{% static 'gold_app/scripts/social_script.js' %}"></script>
      {% block script %}{% endblock script%}
      
</body>
</html>